{% extends 'clients/base.html' %}
{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p>Ремуф клиента: {{object.full_name}}?</p>
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Ремуф</button>
                                <a class="btn btn-secondary"
                                   href="{% url 'clients:clients_list' %}" role="button">Отменить
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}